* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f0f0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hero {
  background: linear-gradient(135deg, #eff4ff, #eff4ff);
  color: rgb(0, 0, 0);
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

.hero-left {
  max-width: 50%;
}

.hero-left h1 {
  font-size: 3em;
  color: #ff8c42;
}

.hero-left p {
  font-size: 1em;
  margin: 20px 0;
}

.hero-left button {
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #ff5c2a;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.hero-left button:hover {
  background-color: #e14c20; /* Le agregué un pequeño hover bonito */
}

.hero-right img {
  max-width: 400px;
  border: 5px solid white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
