nav {
  background-color: #0e1a35;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.logo img {
  width: 200px;
  /* Ajusta el tamaño según tus necesidades */
  height: auto;
  /* Mantiene la proporción de la imagen */
}